{% extends "layout.html" %}

{% block pageTitle %}
  Add course – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/new-starters" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        
        {% call govukFieldset({
          legend: {
            text: "Add course",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        
        {{ govukInput({
          label: {
            text: "Contract Reference Number",
            classes: "govuk-label--s"
          },
  hint: {
    text: "You can find your contract reference number in the funding summary report from the ILR (SLD reports)."
  },
          classes: "govuk-input--width-20",
          id: "width-20",
          name: "width20"
        }) }}

          {{ govukInput({
            label: {
              text: "Course Title",
              classes: "govuk-label--s"
            },
            id: "course-title",
            name: "courseTitle",
            autocomplete: "courseTitle"
          }) }}
  
        
        {% endcall %}


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "modeOfCourseDelivery",
  fieldset: {
    legend: {
      text: "How will this course be delivered?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "Online only",
      text: "Online only"
    },
    {
      value: "In person at a single location",
      text: "In person at a single location"
    },
    {
      value: "In person at multiple locations",
      text: "In person at multiple locations"
    },
    {
      value: "Hybrid: in person at a single location and online",
      text: "Hybrid: in person at a single location and online"
    },
    {
      value: "Hybrid: in person at a single location and online",
      text: "Hybrid: in person at multiple locations and online"
    }
  ]
}) }}


<p> </p>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
