{% extends "layout.html" %}

{% block pageTitle %}
  Add learner – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/add-learner-additional-data" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        {% call govukFieldset({
          legend: {
            text: "Add learner",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Learner name",
              classes: "govuk-label--s"
            },
            hint: {
              text: "First and last name."
            },
            id: "learner-name",
            name: "learnerName",
            autocomplete: "learnerName"
          }) }}
        
          {{ govukInput({
            label: {
              text: "What is their Unique Learner Number?",
              classes: "govuk-label--s"
            },
            hint: {
              text: "This must match the Unique learner Number on the ILR Funding Model 37."
            },
            classes: "govuk-input--width-10",
            id: "width-10",
            name: "width10"
          }) }}
        
        {% endcall %}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


        {{ govukCheckboxes({
          name: "employerCRNs",
          fieldset: {
            legend: {
              text: "Which courses is the learner enrolled in?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Pathway A - Novice to Cat C - Skills bootcamp in HGV driving (SBD-1116-316)",
              text: "Pathway A - Novice to Cat C - Skills bootcamp in HGV driving (SBD-1116-316)"
            },
            {
              value: "Theoretical HGV knowledge - Skills bootcamp in HGV theory (SBD-1116-317)",
              text: "Theoretical HGV knowledge - Skills bootcamp in HGV theory (SBD-1116-317)"
            }
          ]
        }) }}


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "changedName",
          fieldset: {
            legend: {
              text: "What was the learner's employment status when they started the bootcamp?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Unemployed",
              text: "Unemployed",
              hint: {
                text: "Include learners who quit their jobs to join the skills bootcamp."
              }
            },
            {
              value: "Self-Employed",
              text: "Self-Employed"
            },
            {
              value: "Employed and co-funded by employer",
              text: "Employed and co-funded by employer"
            },
            {
              value: " Employed without co-funding from employer",
              text: " Employed without co-funding from employer"
            }
          ]
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        What industry did the learner mainly work in before applying to the bootcamp?
      </h1>
    </legend>
    <div id="contact-hint" class="govuk-hint">
      Select the option that best matches the type of work they did.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Agriculture, environmental and animal care
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Business and administration
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          Care services
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Catering and hospitality
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="HGV Drivingd">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Construction and the built environment
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-5" name="whereDoYouLive" type="radio" value="Business and Administration">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Creative and design
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Digital
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Education and early years
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Engineering and manufacturing
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Hair and beauty
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Health and science
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Legal, finance and accounting
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Protective services
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Sales, marketing and procurement
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Transport and logistics
        </label>
      </div>
    </div>
  </fieldset>
</div>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "research",
  fieldset: {
    legend: {
      text: "Does the learner give permission to be contacted for research purposes?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "This would involve being invited by a third-party research contractor to participate in interviews or surveys to gain their feedback."
  },
  items: [
    {
      value: "Yes, the learner has agreed to be contacted",
      text: "Yes, the learner has agreed to be contacted"
    },
    {
      value: "No, the learner does not want to be contacted",
      text: "No, the learner does not want to be contacted"
    }
  ]
}) }}


<p> </p>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
