{% extends "layout.html" %}

{% block pageTitle %}
  Add employer: Additional information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/learners" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        {% call govukFieldset({
          legend: {
            text: "Employer's associated bootcamp details",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


        {{ govukCheckboxes({
          name: "employerCRNs",
          fieldset: {
            legend: {
              text: "Which courses is the employer engaging with?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Pathway A - Novice to Cat C - Skills bootcamp in HGV driving (SBD-1116-316)",
              text: "Pathway A - Novice to Cat C - Skills bootcamp in HGV driving (SBD-1116-316)"
            },
            {
              value: "Theoretical HGV knowledge - Skills bootcamp in HGV theory (SBD-1116-317)",
              text: "Theoretical HGV knowledge - Skills bootcamp in HGV theory (SBD-1116-317)"
            }
          ]
        }) }}



{{ govukCheckboxes({
  name: "employerContribution",
  fieldset: {
    legend: {
      text: "How does the employer engage with or contribute to the courses?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Please select all that apply."
  },
  items: [
    {
      value: "Understanding skills need and learner screening",
      text: "Understanding skills need and learner screening"
    },  
    {
      value: "Course content agreement",
      text: "Course content agreement"
    },
    {
      value: "Course delivery",
      text: "Course delivery"
    },
    {
      value: "Course and candidate suitability review",
      text: "Course and candidate suitability review"
    }
  ]
}) }}
        

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "changedName",
          fieldset: {
            legend: {
              text: "Is this employer co-funding one or more learners?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        

            
        {% endcall %}


    
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Is the employer offering vacancies to learners?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Number of vacancies offered
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "changedName",
          fieldset: {
            legend: {
              text: "Has the Employer Privacy Notice been provided to the employer?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "This must be provided to the employer so they understand how their data will be used."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "research",
          fieldset: {
            legend: {
              text: "Does the employer give permission to be contacted for research purposes?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "This would involve being invited by a third-party research contractor to participate in interviews or surveys to gain their feedback."
          },
          items: [
            {
              value: "Yes, the employer has agreed to be contacted",
              text: "Yes, the employer has agreed to be contacted"
            },
            {
              value: "No, the employer does not want to be contacted",
              text: "No, the employer does not want to be contacted"
            }
          ]
        }) }}

<p> </p>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
