{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/type-or-upload-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "share-data",
          fieldset: {
            legend: {
              text: "How do you want to share your data?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
  hint: {
    text: "Select one option."
  },
          items: [
            {
              value: "By typing into an online form",
              text: "By typing into an online form"
            },
            {
              value: "upload",
              text: "By uploading an XML file"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
